* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #ec008c, #fc6767);
  font-family: "Poppins", sans-serif;
  color: white;
  min-height: 100vh;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 1rem;
  font-size: 1.4rem;
  outline: none;
  border: none;
}

form input::placeholder {
  color: #fc6767;
}

form button {
  color: #fc6767;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #fc6767;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: #000;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.delete-btn,
.complete-btn {
  padding: 1rem;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.complete-btn {
  background: white;
  color: #12fff7;
}
.complete-btn:hover {
  background: #12fff7;
  color: white;
}

.delete-btn {
  background: white;
  color: #f03358;
}
.delete-btn:hover {
  background: #f03358;
  color: white;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.todo-fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  appearance: none;
  outline: none;
  border: none;
  color: #fc6767;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: white;
  top: -3px;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #fc6767;
}

.select:hover::after {
  color: white;
  background: #fc6767;
}
